@font-face {
    font-family: Rubik;
    src: url('Rubik-Regular.ttf');
}

@font-face {
    font-family: KosugiMaru;
    src: url('KosugiMaru-Regular.ttf');
}

body {
    font-family: Rubik, sans-serif;
    margin-left: 20px;
    margin-top: 20px;
}

#lang-panel {
    text-align: center;
}

#lang-panel > span {
    cursor: pointer;
    margin-left: 10px;
}

#lang-en {
    text-decoration-line: underline;
}

#search {
    margin-top: 20px;
    text-align: center;
}

#search-field {
    margin-top: 5px;
    width: 500px;
    height: 30px;
}

#search-button {
    width: 80px;
    height: 32px;
}

#result {
    margin: 0 auto;
    width: 640px;
    min-height: 680px;
}

.song {
    margin: 20px 0 10px 20px;
}

.song-title {
    font-family: Rubik, sans-serif;
    font-weight: 800;
    font-size: 20pt;
}

.ja {
    font-family: KosugiMaru, sans-serif;
}

.ja-bold {
    font-family: KosugiMaru, sans-serif;
    font-weight: 800;
}

.record-title {
    font-size: 16pt;
    margin-top: 5px;
    margin-left: 50px;
}

.line-through {
    text-decoration-line: line-through;
}

#footer {
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}

#footer p {
    margin: 0;
}